
.buttons {
  display: flex;
  margin-bottom: 40px;
}

.buttons__btn {
  width: 200px;
  height: 40px;
  margin: 0 10px;
  outline: none;
  background: none;
  background-color: #e7e7e7;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.buttons__btn:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.buttons__btn[disabled],
.buttons__btn[aria-disabled=true] {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.buttons__btn:focus {
  outline: 2px solid #777777;
}
